# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Don’t upload your trained models if repo is public
model.pkl
preprocessor.pkl

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# PyInstaller
*.spec

# Environment variables / secrets
.env
.env.*